.fontemenu{
    font-weight: 700;
    font-size: 14px;
    color: rgb(0, 28, 39);
    margin-left: 50px;
    margin-top: 25px;
}
.bgazul01{
    background-color:rgb(2, 175, 244);
}
.bgazul02{
    background-color:rgb(0, 28, 39);
}
.azul01{
    color: rgb(2, 175, 244);
}
.azul02{
    color: rgb(0, 28, 39);
}
.branco{
    color: rgb(237, 237, 237);
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
.t01{
    transition: all 0.5s;
    color:rgb(237, 237, 237);
}
.t01:hover{
    color: rgb(2, 175, 244);
    border-left-color:rgb(2, 175, 244);
}
.t02{
    transition: all 0.5s;
    width: 100%;
    color:rgb(237, 237, 237);
    background-color:rgb(0, 28, 39) ;
}
.t02:hover{
    color:  rgb(2, 175, 244);
    background-color:rgb(0, 28, 39) ;
}
.box01{
    background-color: rgb(0, 28, 39);
    border-radius: 15px;
}
.espaco50{
    height: 50px;
    width: 100%;
}
.espaco25{
    height: 25px;
    width: 100%;
}
.justo{
    text-align: justify;
}
.centro{
    text-align: center;
}
.txtesquerda{
    text-align: left;
}
.txtespaco{
    line-height: 30px;
}
.titulo-equipe{
    font-weight: 700;
}
.titulo-equipe-span{
    font-weight: 900;
}